beautifulsoup4==4.14.3
chromadb==1.5.9
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
google-genai==2.6.0
gunicorn==25.1.0
psycopg[binary]==3.3.2
pypdf==6.13.2
python-dotenv==1.2.2
1=2.34.2
10.22.1
1tandard]==0.48.0
1e==6.11.0
